
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <div>
                Enter Username:
                <input type="text" name="username" value="" />
                <br />
                Enter Password:
                <input type="text" name="password" value="" />
                <br />
                <input type="submit" name="sb1" value="Login" />
            </div>
        </form>
        @{
            if (IsPost)
            {
                <h3>@ViewBag.msg</h3>
            }
        }
    </div>
</body>
</html>
