<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="h1 text-center text-success">Employee Input Form</h1>
        <hr />
        <form action="" method="post">
            <div class="mb-3">
                <label for="eno" class="form-label">Enter Eno: </label>
                <input type="text" class="form-control" id="eno" name="Eno">
            </div>
            <div class="mb-3">
                <label for="ename" class="form-label">Enter Ename: </label>
                <input type="text" class="form-control" id="ename" name="Ename">
            </div>
            <div class="mb-3">
                <label for="salary" class="form-label">Enter Salary: </label>
                <input type="text" class="form-control" id="salary" name="Salary">
            </div>
            <div class="mb-3">
                <label for="job" class="form-label">Enter Job: </label>
                <input type="text" class="form-control" id="job" name="Job">
            </div>
            <div class="mb-3">
                <label for="dname" class="form-label">Enter Dname: </label>
                <input type="text" class="form-control" id="dname" name="Dname">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>
