
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeptInfo</title>
</head>
<body>
    <div>
        <h1>Example with Model Class</h1>
        <hr />
        <form action="" method="post">
            Enter DeptID:
            <input type="text" name="deptId" value="" />
            <br />
            Enter Dept Name: 
            <input type="text" name="deptName" value="" />
            <br />
            Enter Location: 
            <input type="text" name="location" value="" />
            <br />
            <input type="submit" name="SB1" value="Submit" />
        </form>
    </div>
</body>
</html>
