<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Get Action Method Parameters</h1>
        <hr />
        <h3>Query String</h3>
        <a href="/Home/Details1?dno=101&dname=IT">Information Technology</a>
        <br />
        <a href="/Home/Details1?dno=102&dname=HR">Human Resource</a>
        <br />
        <a href="/Home/Details1?dno=103&dname=Admin">Administration</a>
        <br />
        <hr />
        <h3>Route URL Paramter</h3>
        <hr />
        <a href="/Home/Details2/10">Information Technology</a>
        <br />
        <a href="/Home/Details2/20">Human Resource</a>
        <br />
        <a href="/Home/Details2/30">Administration</a>
    </div>
</body>
</html>
