<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1>Example with Formal Parameters</h1>
        <hr />
        <div>
            <form action="" method="post">
                Enter Username: 
                <input type="text" name="uname" />
                <br />
                Enter Password: 
                <input type="password" name="pwd" />
                <br />
                <input type="submit" name="SB1" value="Login" />
            </form>
        </div>
    </div>
</body>
</html>
