<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div> 
        <table style="width:800px">
            <tr style="width:800px;background-color:lightcoral">
                <td colspan="2" style="text-align:center;color:green;">
                    <h1>Welcome to Layout Pages</h1>
                </td>
            </tr>
            <tr>
                <td style="width:200px;background-color:aqua">
                    <a href="/Home/Create">Create New</a>
                </td>
                <td style="width:600px;background-color:antiquewhite">
                    @RenderBody()
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;width:800px;background-color:burlywood">
                    <h3>&copy; Srikanth Rallabandi - 2024</h3>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
